.room {
  width: 500px;
  margin-bottom: 20px;
}
.img {
  width: 500px;
  height: 418px;
}
@media only screen and (max-width: 600px) {
  .room {
    width: 366px;
  }
  .img {
    width: 366px;
  }
}
